*{
    margin: 0;
    padding: 0;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
.clear::after{
    content: "";
    display: block;
    clear: both;
}
.left{
    float: left;
}
.right{
    float: right;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
}
.mid-content{
    max-width: 1200px;
    margin: auto;
}
.p-bg{
    background-color: #f7f9ff;
}
body,h1,h2,h3,h4,h5,h6,a,p,span{
    font-family: 'Work Sans', sans-serif;;
}
.header-section{
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    padding: 3px 0;
    z-index: 99;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}
.header-section a{
    color: #010101;
}
.header-logo{
    width: 30%;
}
.logo img{
    height: 60px;
    border-radius: 27px;
    float: left;
    margin-right: 10px;
    padding: 5px 0;
    background: #3498db;
}
.logo span{
    margin-top: 17px;
    display: inline-block;
    font-size: 29px;
    font-weight: 500;
}

.header-menu{
    width: 60%;
}
.header-button{
    width: 10%;
}
.primary-menu{}
.primary-menu ul{}
.primary-menu ul li{
    display: inline-block;
}
.primary-menu ul li a{
    display: block;
    padding: 0 21px;
    font-size: 18px;
    line-height: 70px;
}
.primary-menu ul li a :hover{}

.btn{
    display: inline-block;
    margin-top: 14px;
    border: 2px solid #3498db;
    font-size: 15px;
    padding: 10px 25px;
    font-weight: 500;
    border-radius: 8px;
    transition: .4s;
}
.btn:hover{
    background: #61e2c8;
    color: #fff;
}
.primary-menu ul li{
    position: relative;
}
.primary-menu ul li ul{
    position: absolute;
    left: 0;
    top: 105%;
    width: 220px;
    background: rgb(246, 242, 242);
   
    opacity: 0;
    visibility: hidden;
    transition: .4s;
    transform: scaleY(0);
    transform-origin: top center;
}
.primary-menu ul li:hover ul{
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
}
.banner-section{
    background-image: url("https://images.unsplash.com/photo-1507680576301-98c2029cf434?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzR8fHdhdGNofGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
    padding: 160px 0;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    background-position: center;
    background-attachment: fixed; 
    position: relative;
    z-index: 9;  
    margin-top: 58px;
}
.banner-section::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, .6);
    z-index: -1;
}
.banner-content h3{
    color: #fff;
    font-size: 27px;
}
.banner-content h2{
    font-size: 62px;
    font-weight: 700;
    margin: 60px 0;
    color: #0096ff;
    margin-top: 41px;
}
.default-btn {
    padding: 18px 30px;
    font-size: 19px;
    color: rgb(59, 33, 175);
    border-radius: 5px;
    margin: 12px;
    font-weight: 600;
    background: #ddd;
    transition: .4s;
}
.default-btn:hover{
    color: #000;
    background: #1abc9c
}
.banner-bottom{
    background: #f7f7f7;
    padding: 100px 0;
}
.video-left{
    width: 48%;
}
.video-right{
    width: 46%;
}
.video-right h3{
    font-weight: 500;
    font-size: 38px;
    color: #c63030;
    margin-bottom: 45px;
}
.video-right p{
    font-size: 21px;
    color: #000000;
    padding: 9px;
}

.service-section{
    background-color: #fff;
    padding: 100px 0;
    margin-left: 27px;
}
.service-about{}
.service-about h2{
    font-size: 58px;
    font-weight: 700;
    margin-bottom: 24px;
}
.service-about p{
    font-size: 27px;
    font-weight: lighter;
}

.service-items{
    margin-top: 90px;
}
.service-box{
    width: 31.3%;
    box-shadow: 4px 4px 20px 0 rgb(0,0,0,.1);
    margin-right: 2%;
    margin-bottom: 31px;
    padding: 21px;
    box-sizing: border-box;
}
.s-icon{
    width: 60px;
    float: left;
    min-height: 155px;
    margin-right: 20px;
    font-size: 45px;
    color: #6278df;
}
.s-content{

}
.s-content h3{
    font-size: 34px;
    font-weight: inherit;
}
.s-content p{
    font-size: 22px;
    font-weight: 300;
    margin-top: 26px;
}
/*table section*/
.pricing-tabel-section{
    background: #f7f9ff;
    padding: 50px;
}
.section-title{}
.section-title h2{
    font-size: 65px;
    font-weight: 500;
    margin-bottom: 37px;
}
.section-title p{
    
}

.pricing-table{
    margin-top: 80px;
}
.pricing-table-item{
    width: 31.3%;
    margin-right: 2%;
    background: #fff;
    
}

.p-heading{
    padding: 30px;
    border-bottom: 1px solid #c4cbce;
}
.p-heading h4{
    font-size: 26px;
    font-weight: initial;
    margin-bottom: 38px;
}
.p-heading h1{
    font-size: 53px;
    font-weight: 700;
}
.p-heading h5{
    font-size: 24px;
    font-weight: 300;
    margin-top: 41px;
  
}
.p-heading p{
    margin-top: 24px;
    font-size: 23px;
    font-weight: inherit;
    transition: .4s;
}

.p-content{
    padding: 32px;
}
.p-content ul{
    list-style: none;
}
.p-content ul li{
    display: block;
    margin-top: 24px;
    font-size: 20px;
    font-weight: inherit;
    color: #5b5e61;
}
.p-button .default-btn{
    display: block;
    margin-top: 63px;
    text-align: center;
    padding: 18px;
}
.pricing-table-item:hover .p-heading{
    background: #088ee7;
    color: #fff;
}
.pricing-table-item:hover .p-button .default-btn{
    background: #0477c3;
    color: #fff;
}
/*Team section*/
.team-section{
    padding: 100px 0;
}
.team-content{
    
}
.team-content h2{
    font-size: 44px;
    color: black;
    margin-bottom: 81px;
    margin-top: -18px;
}

.team-image{

}
.image-list{
    width: 23%;
    margin-right: 2%;
    background: #ecf0f1;
    box-shadow: ;
}
.image-list img{
    width: 100%;
    border-radius: 10px 10px 0 0;
}
.image-bottom{
    padding: 38px;
}   

.bottom-content h3{
    margin-bottom: 11px;
    font-size: 24px;
    font-weight: inherit;
}
.bottom-content p{
    color: #434646;
    font-size: 17px;
}
.bottom-content{
 
}
/*newsletter*/
.newsletter-section {
    padding: 100px 0;

}
.newsletter-section p{
    margin-bottom: 37px;
    font-size: 25px;
    font-weight: bold;
}
.newsletter-section h2{
    font-size: 65px;
    font-weight: 500;
    margin-bottom: 37px;
}
.newsletter-form{
    margin-top: 53px;
}
input.difault-input {
    height: 53px;
    width: 329px;
    font-size: 21px;
    font-weight: inherit;
    padding: 6px 14px;
    border: 1px solid #e4e4e4;
    border-radius: 9px;
    box-shadow: 2.5px 4.33px 30px 0 rgb(64 87 191 / 10%);  
    box-sizing: border-box; 
}
input.difault-input:focus{
    box-shadow: 1px -1px 14px -2px rgba(71, 52, 155, 0.97);
    border: 1px solid #fff;
    
}
button.submit-btn {
    display: inline-block;
    padding: 18px 74px;
    font-size: 22px;
    background: #3498db;
    border-radius: 5px;
    margin-left: 24px;
    color: #fff;
    border: none;
    cursor: pointer;
   
}
button.submit-btn:hover{
   background-color: #7a0f03;
   color: rgb(243, 234, 234);
}

/*blog-section*/
.blog-section{
    padding: 100px 0;
    background-color: #ecf0f1;
}
.blog-content{
    margin-bottom: 22px;
    display: inline-block;
}
.c-left{
    width: 45%;
}
.c-left h3{
    font-size: 45px;
    margin-bottom: 46px;
    font-weight: 500;
}
.c-right{
    width: 45%;
}
.c-left p{
    font-size: 20px;
    line-height: 1.6;
    font-weight: inherit;
}


.blog-post-item{
    width: 48%;
    background: rgb(231, 225, 225)
}
.blog-post-item{
    width: 48%;
}
.blog-post-item img{
    float: left;
    width: 299px;
    border-radius: 5px 0 0 5px;
}
.blog-post-content{
    width: 38%;
    margin-top: 44px;
    margin-right: 14px;
}
.blog-post-content h4{
    font-size: 21px;
    margin-bottom: 11px;
    font-weight: 100;
}
.blog-post-content p{
    font-size: 17px;
    line-height: 1.6;
    font-weight: lighter;
}

/*Testimonial-section*/

.testimonial-section{
    padding: 80px 0;
    
}
.news-t{
   
}
.news-t p{
    margin-bottom: 30px;
}
.testimonial-item{
    margin-top: 100px;
}
.i-item{
    width: 32%;
    margin-right: 2%;
}
.i-item:last-child{
    margin-right: 0;
}
.t-content{
    background: #ffffff;
    padding: 46px 55px;
    box-sizing: border-box;
    box-shadow: 0px 2px 13px -2px #000000;
    margin-bottom: 50px;
    position: relative;
    border-radius: 9px;
}
.t-content::after{
    content: "";
    position: absolute;
    bottom: -20px;
    right: 6px;
    left: 0px;
    margin: auto;
    width: 1px;
    height: 0;
    border-style: solid;
    border-width: 20px 20px 0 20px;
    border-color: #d6dfe8 transparent transparent transparent;
}
.t-content p{
    font-size: 20px;
    color: #717d80;
    line-height: 1.6;
    position: relative;
}
.t-content p::before{
    content: "\f234";
    font-family: FontAwesome;
    position: absolute;
    opacity: .2;
    font-size: 60px;
}
.t-user-img img{
    border-radius: 50%;
    width: 80px;
    float: left;
    margin-right: 25px;
    position: relative;
    top: -6px;
    left: 2px;
}
.t-user-img{
    width: 250px;
    margin: auto;
}
.t-user-img span{
    font-size: 18px;
    position: relative;
    left: 1px;
    top: 10px;
    color: dimgrey;
    font-weight: initial;
}
.news-t p{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: inherit;
    color: #99a3a9;
}
.news-t h3{
    font-size: 45px;
    font-weight: 500;
}
.user-bio h3{
    font-size: 21px;
    font-weight: 700;
}

/*Contact section*/

.contact-section{
    padding-top: 100px;
    background-color: #fff;
}
.contact-row{}
.content-left-map{
    width: 48%;
}
.content-right-form{
    width: 48%;
}
.content-right-form h4{
    font-size: 24px;
    font-weight: 500;
    margin-top: 25px;
    margin-bottom: 24px;
}
.content-right-form p{
    font-size: 22px;
    font-weight: inherit;
    line-height: 1.6em;
    margin-bottom: 40px;
}
.footer-contact-form .w100{
    width: 100%;
    margin-bottom: 22px;
    font-size: 19px;
}
.footer-contact-form .w50{
    width: 48%;
}
.footer-contact-form .difault-input{
    margin-bottom: 20px;
}
textarea.difault-input.w99{
    width: 98%;
    height: 123px;
    margin-top: 9px;
    margin-bottom: 20px;
    margin-left: 3px;
    font-size: 21px;
    padding: 5px;
}
.footer-contact-form .submit-btn{
    width: 100%;
    position: relative;
    left: -21px;
}
/*footer*/
.footer-section{
    background: cadetblue;
    padding: 30px 0;
    margin-top: 12px;
}
.footer{
    color: #fff;
    font-size: 17px;
    font-weight: 700;
}
























